.additional{
    padding: 80px 0 0 0;
    &__block{
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: none;
        border-radius: 2px;
        height: 640px;
        margin: 50px 0 0 0;
        position: relative;
        top: 0;
        transition: 0.15s ease;
        .text{
            font-size: 170%;
            left: 20px;
            max-width: 296px;
            position: absolute;
            top: 20px;
            span{
                border-bottom: 2px solid $orange;                
            }
        }
        &:hover .text span{
            color: $orange;
        }
        &--general{
            background-image: url('../img/link-general-bg.png');
        }
        &--support{
            background-image: url('../img/link-support-bg.png');
        }
        &--repair{
            background-image: url('../img/link-repair-bg.png');
        }
        &--eco{
            background-image: url('../img/link-eco-bg.png');
        }
        &--green{
            background: $green;
            &:hover span{
                color: $orange;
            }
            span{
                border-bottom: 2px solid $orange;
            }
        }
        &--orange{
            background: $orange;
            &:hover span{
                color: $green;
            }            
            span{
                border-bottom: 2px solid $green;
            }
        }
        span{
            color: #fff;
            transition: 0.2s;
        }
        h3{
            margin: 140px 0;
            text-align: center;
        }
    }
}

@media(max-width: 1200px){
    .additional{
        &__block{
            height: 500px;
            .text{
                font-size: 150%;
                max-width: 260px;
            }
        }
    }
}

@media(max-width: 1100px){
    .additional{
        padding: 40px 0 0 0;
        &__block{
            margin: 30px 0 0;
            h3{
                margin: 110px 0 110px;
            }
        }
    }
}

@media(max-width: 1000px){
    .additional{
        padding: 20px 0 0;
        &__block{
            height: 420px;
            margin: 20px 0 0;
            h3{
                margin: 90px 0 90px;
            }
            .text{
                font-size: 130%;
                max-width: 200px;
            }
        }
    }
}

@media(max-width: 900px){
    .additional{
        &__block{
            height: 360px;
        }
    }
}

@media(max-width: 767px){
    .additional{
        &__block{
            .text{
                font-size: 180%;
                max-width: 80%;
            }
        }
        .span6{
            float: left !important;
        }
    }
}

@media(max-width: 600px){
    .additional{
        &__block{
            .text{
                font-size: 130%;
            }
        }
    }
}