.advantages{
    padding: 100px 0 0 0;
    img{
        max-width: 160px !important;
    }
    h2{
        margin: 0 0 70px 0;
    }
    h3{
        margin-top: 30px;
    }
}

@media(max-width: 1050px){

}

@media(max-width: 850px){

}

@media(max-width: 767px){

}

@media(max-width: 500px){

}