footer{
    padding: 21px 0 26px;
    .agree{
        color: $black;
    }
    .ketov{
        color: $black;
    }
    .phone{
        h3{
            color: $black;
            margin: 0;
        }
    }
}