header{
    background: rgba(255, 255, 255, 0.9);    
    left: 0;
    padding: 12px 0 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    .logo{
        color: $green;
        float: left;
        font-size: 150%;
        margin: 5px 0 0 0;
    }
    nav{
        float: left;
        margin: 12px 0 0 3%;
        width: 50%;
        a{
            color: $black;
            margin: 0 6% 0 0;
            transition: 0.2s;
            &:hover{               
                color: $orange;
            }
        }
    }
    button{
        float: right;
    }
}

@media(max-width: 1400px){

}

@media(max-width: 1250px){

}

@media(max-width: 1150px){

}

@media(max-width: 850px){

}

@media(max-width: 650px){

}

@media(max-width: 500px){

}