.map-container{
    position: relative;
    &__content{
        position: absolute;
        top: 0;
        z-index: 1;
        h2{
            color: $black;
            position: absolute;
            text-align: left;
            top: 70px;
        }
    }
    &__contacts{
        background: $white;
        padding: 52px 48px 60px;
        position: absolute;
        top: 210px;
        width: 320px;
        p{
            margin: 0;
            text-align: center;
        }
        a{
            border-bottom: none;
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        .phone{
            h3{
                color: $black;
            }
        }
        .email{
            color: $black;
            margin: 6px 0 0 0;
        }
        button{
            display: table;
            margin: 32px auto 0;
        }
    }
}

#map{
    height: 650px;
}

@media(min-width: 1400px){
    .map-container__content.wrapper{
        left: 50%;
        margin-left: -700px;
        padding: 0;
    }
}

@media(max-width: 1100px){
    .map-container{
        #map{
            height: 590px;
        }
        &__content{
            h2{
                top: 50px;
            }
        }
        &__contacts{
            top: 180px;
        }
    }
}

@media(max-width: 1000px){
    .map-container{
        #map{
            height: 530px;
        }
        &__content{
            h2{
                top: 40px;
            }
        }
        &__contacts{
            top: 140px;
        }
    }
}

@media(max-width: 767px){
    .map-container{
        #map{
            height: 260px;
        }
        h2{
            padding: 25px 0 10px 0;
            position: relative;
            text-align: center;
            top: 0;            
        }
        &__content{
            padding-bottom: 44px;
            position: relative;
        }
        &__contacts{
            background: none;
            padding: 0;
            position: relative;
            top: 0;
            width: 100%;
            h3{
                margin: 9px 0 0 0;
            }
            button{
                margin: 24px auto 0;
            }
        }
    }
}