.offer{
    color: $white;
    padding: 180px 0 140px;
    h1{
        margin: 0 auto;
        max-width: 1120px;
        text-align: center;
    }
    .comment{
        font-size: 115%;
        line-height: 150%;
        margin: 16px auto 60px;
        max-width: 660px;
        text-align: center;
    }
    label{
        margin: 0 0 20px 0;
    }
    input{
        margin: 14px 0 0 0;
        text-align: center;        
        width: 100%;
    }
}

@media(max-width: 1050px){

}

@media(max-width: 850px){

}

@media(max-width: 500px){

}