.services{
    padding: 100px 0 110px;
    .row-fluid {
        margin: 60px 0 0;
    }
    sup{
        font-size: 60%;
    }
    &__how{
        background: #fbf8f2;
        border-radius: 2px;
        margin: -40px 0 0 0;
        padding: 24px 40px 32px 28px;
        h3{
            margin: 0 0 12px 0;
        }
        p{
            margin: 0;
        }
    }
    &__service{        
        background-repeat: no-repeat;
        background-size: 52px;
        line-height: 135%;
        min-height: 60px !important;
        padding: 0 0 0 60px;
        &--window{
            background-image: url('../img/services-window.svg');
        }
        &--refrigerator{
            background-image: url('../img/services-refrigerator.svg');
        }
        &--oven{
            background-image: url('../img/services-oven.svg');
        }
        &--chandelier{
            background-image: url('../img/services-chandelier.svg');
        }
        &--rubbish{
            background-image: url('../img/services-rubbish.svg');
        }
        &--yard{
            background-image: url('../img/services-yard.svg');
        }
        &--ware{
            background-image: url('../img/services-ware.svg');
        }
        &--seams{
            background-image: url('../img/services-seams.svg');
        }
        &--watering{
            background-image: url('../img/services-watering.svg');
        }
        &--pet{
            background-image: url('../img/services-pet.svg');
        }
        &--clothes{
            background-image: url('../img/services-clothes.svg');
        }
        &--appliance{
            background-image: url('../img/services-appliance.svg');
        }
        &--dust{
            background-image: url('../img/services-dust.svg');
        }
        &--furniture{
            background-image: url('../img/services-furniture.svg');
        }
        &--default{
            background-image: url('../img/services-washing.svg');
        }
        &--mosquito{
            background-image: url('../img/services-mosquito.svg');
        }
        &--pet-grooming{
            background-image: url('../img/services-pet-grooming.svg');
        }
        &--master{
            background-image: url('../img/services-master.svg');
        }
    }
}

@media(max-width: 1100px){
    .services{
        padding: 60px 0 70px;
        .row-fluid{
            margin: 50px 0 0;
        }
    }
}

@media(max-width: 1000px){
    .services{
        padding: 40px 0 50px;
        .row-fluid{
            margin: 24px 0 0;
        }
        h2{
            margin: 0 0 32px 0;
        }
    }
}

@media(max-width: 850px){
    .services{
        &__service{
            font-size: 90%;
        }
    }
}

@media(max-width: 767px){
    .services{
        .row-fluid{
            float: left;
            margin: 10px 0 0;
            width: 50% !important;
        }
        &__service{
            font-size: 100%;
            margin: 16px 0 0 0;
        }
        h2{
            margin: 0;
        }
    }
}

@media(max-width: 600px){
    .services{
        .row-fluid{
            float: none;
            margin: 0;
            width: 100% !important;
        }
    }
}