doctype html
html
    head
        title Академия чистоты | Генеральная уборка
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        //include includes/gtm1
        include includes/metrika
        script(src="https://maps.googleapis.com/maps/api/js")
    body
        //include includes/gtm2
        include includes/black-bg
        include includes/form-header-general
        include includes/form-christmas
        include includes/form-consult-general
        

        header
            div.wrapper
                div.logo
                    img.logo-img(src="assets/img/logo.png" alt="логотип")
                    a.logo-link(href="javascript:void(0);") 
                        | Академия 
                        br
                        | Чистоты                    
                nav
                    a.header__works(href="#") Как мы делаем уборку
                    a.header__form(href="#") Заявка
                    a.header__map-container(href="#") Контакты

                button.header__order#header-general-button Оформить заявку
                a.phone(href="tel:+74952087844") 
                    h3.ya-phone 8 (495) 208-78-44
                div.clear


        include includes/offer
        include includes/form-count-general

        include includes/christmas-index

        include includes/advantages
        include includes/geography
        include includes/works-general
        include includes/additional
        include includes/services
        include includes/form-general 

        include includes/contacts-general

        //include includes/map
        footer.footer--agreement
            div.wrapper
                div.row-fluid.show-grid
                    div.span3.footer__copyright © 2018 Академия Чистоты
                    div.span3.footer__agree
                        a.agree(href="agreement.html") Соглашение на обработку персональных данных
                    div.span3.footer__ketov
                        span
                            | Разработка — 
                            a.ketov(href="http://ketov.name" target="_blank") Юрий Кетов
                    div.span3.phone.footer__phone
                        a(href="tel:+74952087844") 
                            h3.ya-phone 8 (495) 208-78-44
        //include includes/footer
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")
        //include includes/calltouch