doctype html
html
    head
        title Академия чистоты | Поддерживающая уборка
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        include includes/gtm1
        script(src="https://maps.googleapis.com/maps/api/js")
    body
        include includes/gtm2
        include includes/black-bg
        include includes/form-header-support
        include includes/form-consult-support

        header
            div.wrapper
                div.logo
                    img.logo-img(src="assets/img/logo.png" alt="логотип")
                    a.logo-link(href="index.php") 
                        | Академия 
                        br
                        | Чистоты 
                nav
                    a.header__works(href="#") Как мы делаем уборку
                    a.header__form(href="#") Заявка
                    a.header__map-container(href="#") Контакты

                button.header__order#header-support-button Оформить заявку
                a.phone(href="tel:+74952087844") 
                    h3 8 (495) 208-78-44
                div.clear


        section.offer.parallax-window(data-parallax="scroll" data-image-src="assets/img/offer-bg.jpg")
            div.wrapper
                h1 Поддерживающая уборка квартир и&nbsp;домов в&nbsp;Московской области от&nbsp;2&nbsp;500&nbsp;руб.
                p.comment Работаем по направлениям: Волоколамское, Ильинское, Минское, Новорижское, Рублёвское шоссе, район Истры.

                div.tabs
                    div.tabs__tab.tabs__tab--1.active(data-show="range-support" data-hide="range-support-home") Квартиры
                    div.tabs__tab.tabs__tab--2(data-show="range-support-home" data-hide="range-support") Дома
                    div.clear

                div.row-fluid.show-grid#range-support
                    div.span6.offset2
                        div.span9 
                            label(for="amount") Площадь квартиры
                            div#slider-range

                        div.span2#range-slider-input
                            input(type="text" id="amount" readonly)

                        div.span1.unit
                            | м
                            sup 2

                    div.span4
                        div Примерная стоимость
                        h1#amount2


                div.row-fluid.show-grid#range-support-home
                    div.span6.offset2
                        div.span9 
                            label(for="amount-home") Площадь дома
                            div#slider-range-home

                        div.span2#range-slider-input
                            input(type="text" id="amount-home" readonly)

                        div.span1.unit
                            | м
                            sup 2   

                    div.span4
                        div Примерная стоимость
                        h1#amount2-home        



        include includes/form-count-support
        include includes/advantages
        include includes/geography
        include includes/works-support
        

        section.additional
            div.wrapper
                h2 Также мы делаем
                div.row-fluid.show-grid
                    a(href="index.php").span4.additional__block.additional__block--general
                        span.text 
                            span Генеральную уборку

                    a(href="repair.php").span4.additional__block.additional__block--repair
                        span.text 
                            span Уборку после ремонта

                    a(href="eco.php").span4.additional__block.additional__block--eco
                        span.text 
                            span Эко-уборку


        include includes/services-support
        include includes/form-support


        include includes/contacts-support

        footer.footer--agreement
            div.wrapper
                div.row-fluid.show-grid
                    div.span3.footer__copyright © 2018 Академия Чистоты
                    div.span3.footer__agree
                        a.agree(href="agreement.html") Соглашение на обработку персональных данных
                    div.span3.footer__ketov
                        span
                            | Разработка — 
                            a.ketov(href="http://ketov.name" target="_blank") Юрий Кетов
                    div.span3.phone.footer__phone
                        a(href="tel:+74952087844") 
                            h3 8 (495) 208-78-44

        //include includes/map
        //include includes/footer
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")
        include includes/calltouch