html, body {
    min-height: 100%;
}

html{
    position: relative;   
}

body{
    font-family: $GR;
    font-size: 110%;
    margin: 0;
}

.clear{
    clear: both;
}

.overflow-hidden{
    overflow: hidden;
}

.wrapper{
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 2%;
    width: 96%;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
}

@font-face{
    font-family: GeometriaRegular;
    src: url('../fonts/Geometria.ttf');
}

@font-face{
    font-family: GeometriaBold;
    src: url('../fonts/Geometria-Bold.ttf');
}

a{
    border-bottom: 1px solid $orange;
}

h1{
    font-size: 310%;
    font-weight: normal;
    line-height: 120%;
    margin: 0;
}

h2{
    color: $green;
    font-size: 310%;
    font-weight: normal;
    line-height: 120%;
    margin: 0;
    text-align: center;
}

h3{
    color: $green;
    font-family: $GB;
    font-size: 120%;
    line-height: 120%;
    margin: 30px 0 0 0;
}

h4{
    font-size: 140%;
    font-weight: normal;
    line-height: 120%;
    margin: 0;
}

p{
    margin: 24px 0 0 0;
}

ul{
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    li{
        line-height: 150%;
        margin: 20px 0 0 0;
        padding: 0 0 0 26px;
        position: relative;
        &:before{
            border: 1px solid $orange;
            border-radius: 9px;
            content: '';
            height: 6px;
            left: 0;
            position: absolute;
            top: 10px;
            width: 6px;
        }
    }
}

.ul-show{
    display: none;
    &--no-bg{
        background: none;
    }
}

button{
    background: $orange;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-family: $GR;   
    font-size: 100%;
    outline: none;
    padding: 14px 29px 15px;
    top: 0;
    transition: 0.25s;
    &:hover{
        /*background: rgba(252, 0, 60, 1);*/
    }
    &:active{
        position:relative;
        top: 2px;
    }
}

.big-p{
    font-size: 200%;
    line-height: 140%;
    margin: 0;
}

@media(max-width: 1050px){
    h1{
        font-size: 340%;
    }
    .big-p{
        font-size: 160%;
        line-height: 140%;
    }
    .comment{
        font-size: 120%;
    }
}

@media(max-width: 850px){
    h1 {
        font-size: 280%;
    }
    h2{
        font-size: 215%;
        line-height: 120%;
    }
    h3{
        font-size: 160%;
        line-height: 120%;
    }
    h4{
        font-size: 120%;
        line-height: 120%;
    }
    .big-p{
        font-size: 140%;
    }
    ul{
        li{
            margin: 12px 0 0 0;
        }
    }
    p {
        margin: 16px 0 0;
    }
}

@media(max-width: 767px){
    .comment{
        font-size: 100%;
        margin: 15px 0 25px;
    }
}

@media(max-width: 400px){
    h1{
        font-size: 200%;
    }
    h2{
        font-size: 180%;
        line-height: 120%;
    }
    h3{
        font-size: 160%;
    }
    h4{
        font-size: 120%;
    }
}