html, body {
    min-height: 100%;
}

html{
    position: relative;   
}

body{
    font-family: $GR;
    font-size: 110%;
    margin: 0;
}

.clear{
    clear: both;
}

.overflow-hidden{
    overflow: hidden;
}

.wrapper{
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 2%;
    width: 96%;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
}

input{
    background: #eceff1;
    border: none;
    border-radius: 2px;
    font-family: $GR;
    font-size: 100%;
    outline: none;
    padding: 14px 0 16px 16px;    
}

#range-general-home{
    display: none;
}

#range-support-home{
    display: none;
}

#range-repair-home{
    display: none;
}

.tabs{
    border: 2px solid $green;
    border-radius: 40px;
    display: table;
    margin: 0 auto 28px;
    width: 280px;
    &__tab{
        cursor: pointer;
        float: left;
        padding: 9px 0 14px 0;
        text-align: center;
        width: 50%;
        transition: 0.2s;
        &:hover{
            background: $green;
        }
        &--1{
            border-radius: 18px 0 0 18px;
        }
        &--2{
            border-radius: 0 18px 18px 0;
        }
    }
    &__tab.active{
        background: $green;
    }
}

@font-face{
    font-family: GeometriaRegular;
    src: url('../fonts/Geometria.ttf');
}

@font-face{
    font-family: GeometriaBold;
    src: url('../fonts/Geometria-Bold.ttf');
}

.c-bold{
    font-family: $GB;
}

a{
    border-bottom: 1px solid $orange;
    color: $black !important;
    transition: 0.2s;
    &:hover{               
        color: $orange !important;
    }
}

h1{
    font-size: 310%;
    font-weight: normal;
    line-height: 120%;
    margin: 0;
}

h2{
    color: $green;
    font-size: 310%;
    font-weight: normal;
    line-height: 120%;
    margin: 0;
    text-align: center;
}

h3{
    color: $green;
    font-family: $GB;
    font-size: 120%;
    line-height: 120%;
    margin: 30px 0 0 0;
}

h4{
    font-size: 140%;
    font-weight: normal;
    line-height: 120%;
    margin: 0;
}

p{
    margin: 24px 0 0 0;
}

ul{
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    li{
        line-height: 150%;
        margin: 20px 0 0 0;
        padding: 0 0 0 26px;
        position: relative;
        &:before{
            border: 1px solid $orange;
            border-radius: 9px;
            content: '';
            height: 6px;
            left: 0;
            position: absolute;
            top: 10px;
            width: 6px;
        }
    }
}

.ul-show{
    display: none;
    &--no-bg{
        background: none;
    }
}

button{
    background: $orange;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-family: $GR;   
    font-size: 100%;
    outline: none;
    padding: 13px 29px 13px;
    top: 0;
    transition: 0.25s;
    &:hover{
        /*background: rgba(252, 0, 60, 1);*/
    }
    &:active{
        position:relative;
        top: 2px;
    }
}

.c-form{
    background: $white;
    border-radius: 2px;
    display: none;
    left: 50%;
    margin: 0 0 0 -356px;
    padding: 28px 50px 48px;
    position: absolute;
    width: 610px;
    z-index: 6;
    .comment{
        margin: 12px auto;
        max-width: 600px;
        text-align: center;
    }
    input{
        display: block;
        margin: 28px auto;
        width: 540px;
    }
    button{
        display: table;
        margin: 0 auto;
    }
}

.close-form{
    cursor: pointer;
    height: 24px;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    &:hover .close-form__line{
        background: $orange; 
    }
    &__line{
        background: $black;
        height: 2px;
        left: 12px;
        position: absolute;
        top: 22px;
        transition: 0.2s;
        width: 24px;
        &--1{
            transform: rotate(45deg);
        }
        &--2{
            transform: rotate(-45deg);
        }
    }
}

.big-p{
    font-size: 200%;
    line-height: 140%;
    margin: 0;
}

#input-form-header-general-phone-error,
#input-form-header-general-success,
#input-form-header-support-phone-error,
#input-form-header-support-success,
#input-form-header-repair-phone-error,
#input-form-header-repair-success,
#input-form-consult-general-phone-error,
#input-form-consult-general-success,
#input-form-consult-repair-phone-error,
#input-form-consult-repair-success,
#input-form-consult-support-phone-error,
#input-form-consult-support-success,
#input-form-general-success,
#input-form-general-phone-error,
#input-form-support-success,
#input-form-support-phone-error,
#input-form-repair-success,
#input-form-repair-phone-error
{
    margin: 0 0 28px 0;
    text-align: center;
}

#input-form-count-general-phone-error,
#input-form-count-general-success,
#input-form-count-support-phone-error,
#input-form-count-support-success,
#input-form-count-repair-phone-error,
#input-form-count-repair-success
{
    margin: 28px 0 19px 0;
}

.error{
    border: 1px solid rgba(255, 0,0,1);
}

.success-text{
    color: $green;
}

.error-text{
    color: rgba(255, 0, 0, 1);
}

@media(max-width: 1100px){
    ul li{
        margin: 14px 0 0;
    }
}

@media(max-width: 1000px){
    h1{
        font-size: 250%;
    }
    h2{
        font-size: 250%;
    }
    h3{
        font-size: 105%;
    }
    ul{
        li{
            font-size: 90%;
            margin: 10px 0 0;
        }
    }
}

@media(max-width: 767px){
    .c-form{
        left: 4%;
        margin-left: 0;
        padding: 28px 8% 48px;
        width: 76%;
        input{
            width: 90%;
        }
    }
}

@media(max-width: 600px){
    h1{
        font-size: 200%;
    }
    h2{
        font-size: 200%;
    }
    .c-form{
        padding: 24px 8% 36px;
        input{
            margin: 16px auto;
        }
        .comment{
            margin: 4px auto;
        }
    }

    /*#range-repair,
    #range-general,
    #range-support{
        display: none;
    }*/
}

@media(max-width: 500px){
    h1{
        font-size: 180%;
    }
    h2{
        font-size: 180%;
    }
    .c-form{
        left: 0;
        width: 84%;
    }
}

@media(max-width: 850px){
    /*h1 {
        font-size: 280%;
    }
    h2{
        font-size: 215%;
        line-height: 120%;
    }
    h3{
        font-size: 160%;
        line-height: 120%;
    }
    h4{
        font-size: 120%;
        line-height: 120%;
    }
    .big-p{
        font-size: 140%;
    }
    ul{
        li{
            margin: 12px 0 0 0;
        }
    }
    p {
        margin: 16px 0 0;
    }*/
}

@media(max-width: 767px){

}

@media(max-width: 400px){
    /* h1{
         font-size: 200%;
     }
     h2{
         font-size: 180%;
         line-height: 120%;
     }
     h3{
         font-size: 160%;
     }
     h4{
         font-size: 120%;
     }*/
}