$red: rgba(234, 0, 45, 1);
$gray: rgba(242, 239, 235, 1);



$GR: GeometriaRegular, Arial, Verdana, sans-serif;
$GB: GeometriaBold, Arial, Verdana, sans-serif;
$black: rgba(38, 50, 56, 1);
$green: rgba(76, 175, 80, 1);
$orange: rgba(239, 108, 0, 1);
$white: rgba(255, 255, 255, 1);