section.additional
    div.wrapper
        h2 Также мы делаем
        div.row-fluid.show-grid
            a(href="#").span6.additional__block.additional__block--green
                h3 
                    span Поддерживающую уборку
                    
            a(href="#").span6.additional__block.additional__block--orange
                h3 
                    span Уборку после ремонта