section.additional
    div.wrapper
        h2 Также мы делаем
        div.row-fluid.show-grid

            a(href="support.html").span4.additional__block.additional__block--support
                span.text 
                    span Поддерживающую уборку

            a(href="repair.html").span4.additional__block.additional__block--repair
                span.text 
                    span Уборку после ремонта

            a(href="eco.html").span4.additional__block.additional__block--eco
                span.text 
                    span Эко-уборку       