section.advantages
    div.wrapper
        h2 Почему мы
        div.row-fluid.show-grid

            div.span3
                img(src="assets/img/adv-price.svg" alt="цена")
                h3 Цена
                ul
                    li Наши цены на 30% ниже рыночных;
                    li Оплата после выполнения работ наличными или картой;
                    li Постоянным клиентам скидки;
                    li Бесплатный выезд за МКАД (до&nbsp;100 км).

            div.span3
                img(src="assets/img/adv-quality.svg" alt="цена")
                h3 Качество
                ul
                    li Используем только профессиональное оборудование и экологически чистые средства;
                    li Уборка производится по технологии международного центра профессионального клиннинга (ICPC).

            div.span3
                img(src="assets/img/adv-reliability.svg" alt="цена")
                h3 Надёжность
                ul
                    li Весь персонал регулярно проходит медицинский осмотр и&nbsp;повышение квалификации;
                    li Контролируем качество выполняемых работ;
                    li Наши технологи подберут моющие средства исходя из&nbsp;специфики поверхностей и&nbsp;степени загрязнения.

            div.span3
                img(src="assets/img/adv-chart.svg" alt="цена")
                h3 Гибкий график
                ul
                    li Работаем 7 дней в неделю;
                    li Возможно ночное обслуживание;
                    li Выполняем срочные заказы.