header
    div.wrapper
        a.logo(href="index.html") Академия Чистоты

section.agreement
    div.wrapper        
        div.row-fluid.show-grid
            div.span8.offset2
                h2 Соглашение на обработку персональных данных
                p 
                    | Соглашение на обработку персональных 
                    | данных на сайте 
                    a(href="http://cleaning-online.ru") http://cleaning-online.ru
                p 
                    | Присоединяясь к настоящему Соглашению и оставляя 
                    | свои данные на Сайте 
                    a(href="http://cleaning-online.ru") http://cleaning-online.ru
                    |  (далее — Сайт), путём заполнения полей форм Пользователь:
                ul
                    li подтверждает, что все указанные им данные принадлежат лично ему;
                    li подтверждает и признаёт, что им внимательно в полном объёме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях форм, текст соглашения и условия обработки персональных данных ему понятны;
                    li даёт согласие на обработку Сайтом предоставляемых в составе информации персональных данных в целях заключения между ним и Сайтом настоящего Соглашения, а также его последующего исполнения;
                    li выражает согласие с условиями обработки персональных данных.
                p 
                    | Владельцем сайта 
                    a(href="http://cleaning-online.ru") http://cleaning-online.ru 
                    | является 
                    span.c-bold ООО «Академия Чистоты»
                p 
                    span.c-bold ИНН 5017116250, ОГРН 1185024005715
                p 
                    | юридический адрес: 
                    span.c-bold Россия, 143530, Московская область, Истринский р-н, г. Дедовск, ул. Энергетиков, 5, корп. ПОМ 1, КОМ 2
                p 
                    | Пользователь даёт своё согласие на обработку 
                    | его персональных данных, а именно совершение 
                    | действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального 
                    | закона от 27.07.2006 N 152-ФЗ «О персональных данных», 
                    | и подтверждает, что, давая такое согласие, он действует 
                    | свободно, своей волей и в своём интересе.
                p 
                    | Согласие Пользователя на обработку персональных данных 
                    | является конкретным, информированным и&nbsp;сознательным.
                p 
                    | Целью обработки персональных данных является предоставление Пользователю услуг, описанных на&nbsp;Сайте.
                p 
                    | Настоящее согласие Пользователя признаётся исполненным в простой письменной форме,
                    | на&nbsp;обработку следующих персональных данных:
                ul
                    li фамилии, имени, отчества;
                    li места пребывания (город, область);
                    li номеров телефонов;
                    li адресов электронной почты (e-mail);
                    li cookie-файлов;
                    li информации об IP-адресе Пользователя;
                    li информации о местоположении Пользователя.

                p 
                    | Пользователь, предоставляет 
                    a(href="http://cleaning-online.ru") http://cleaning-online.ru 
                    | право осуществлять следующие действия (операции) 
                    | с персональными данными: сбор и накопление; хранение 
                    | в течение установленных нормативными документами сроков 
                    | хранения отчётности, но не менее трёх лет, с момента 
                    | даты прекращения пользования услуг Пользователем; 
                    | уточнение (обновление, изменение); использование; 
                    | уничтожение; обезличивание; передача по требованию 
                    | суда, в т. ч., третьим лицам, с соблюдением мер, 
                    | обеспечивающих защиту персональных данных от несанкционированного доступа.

                p 
                    | Указанное согласие действует бессрочно с момента предоставления 
                    | данных и может быть отозвано вами путём подачи заявления 
                    | администрации сайта с указанием данных, определённых 
                    | ст. 14 Закона «О персональных данных».

                p 
                    | Отзыв согласия на обработку персональных 
                    | данных может быть осуществлён путём направления 
                    | Пользователем соответствующего распоряжения 
                    | в простой письменной форме на адрес электронной почты (e-mail) 
                    a(href="mailto:academy.of.cleaning@gmail.com") academy.of.cleaning@gmail.com

                p 
                    | Сайт имеет право вносить изменения в&nbsp;настоящее Соглашение. 
                    | При внесении изменений в актуальной редакции указывается дата 
                    | последнего обновления. Новая редакция Соглашения вступает 
                    | в силу с&nbsp;момента её размещения, если иное не&nbsp;предусмотрено
                    | новой редакцией Соглашения.

                p 
                    | Действующая редакция Соглашения находится на странице по&nbsp;адресу: 
                    a(href="agreement.html") http://cleaning-online.ru/agreement

                p 
                    | К настоящему Соглашению и отношениям между Пользователем 
                    | и Сайтом, возникающим в связи с&nbsp;применением Соглашения, 
                    | подлежит применению право Российской Федерации.


footer.footer--agreement
    div.wrapper
        div.row-fluid.show-grid
            div.span3.footer__copyright © 2018 Академия Чистоты
            div.span3.footer__agree
                a.agree(href="javascript:void(0);") Соглашение на обработку персональных данных
            div.span3.footer__ketov
                span
                    | Разработка — 
                    a.ketov(href="http://ketov.name" target="_blank") Юрий Кетов
            div.span3.phone.footer__phone
                a(href="tel:+79268026280") 
                    h3 8 (926) 802-62-80