section.contacts
    div.wrapper
        div.row-fluid.show-grid
            div.span8.offset2 
                //p Московская область, Истринский район
                a.phone(href="tel:+74952087844") 
                    h2.ya-phone 8 (495) 208-78-44
                a.email(href="mailto:2087844@bk.ru") 2087844@bk.ru
                button#contacts-general-button Получить консультацию