footer
    div.wrapper
        div.row-fluid.show-grid
            div.span3.footer__copyright © 2018 Академия Чистоты
            div.span3.footer__agree
                a.agree(href="agreement.html") Соглашение на обработку персональных данных
            div.span3.footer__ketov
                span
                    | Разработка — 
                    a.ketov(href="http://ketov.name" target="_blank") Юрий Кетов
            div.span3.phone.footer__phone
                a(href="tel:+74952087844") 
                    h3 8 (495) 208-78-44 