footer
    div.wrapper
        div.row-fluid.show-grid
            div.span3 © 2018 Академия Чистоты
            div.span3
                a.agree(href="#") Соглашение на обработку персональных данных
            div.span3
                span
                    | Разработка — 
                    a.ketov(href="http://ketov.name" target="_blank") Юрий Кетов
            div.span3.phone
                a(href="tel:+79268026280") 
                    h3 8 (926) 802-62-80