section.form.parallax-window(data-parallax="scroll" data-image-src="assets/img/form-bg.jpg")
    div.wrapper
        h2 Заявка на уборку
        div.row-fluid.show-grid
            div.span3.offset3 
                input#input-form-support-name(type="text" placeholder="Ваше имя")
            div.span3
                input#input-form-support-phone(type="text" placeholder="Телефон")
        div.row-fluid.show-grid
            div.span6.offset3 
                textarea#input-form-support-message(placeholder="Сообщение")
        div.row-fluid.show-grid
            div.span6.offset3 
                div#input-form-support-success.success-text
                div#input-form-support-phone-error.error-text
                button#form-support-button Отправить