section.form.parallax-window(data-parallax="scroll" data-image-src="assets/img/form-bg.jpg")
    div.wrapper
        h2 Заявка на уборку
        div.row-fluid.show-grid
            div.span3.offset3 
                input(type="text" placeholder="Ваше имя")
            div.span3
                input(type="text" placeholder="Телефон")
        div.row-fluid.show-grid
            div.span6.offset3 
                textarea(placeholder="Сообщение")
        div.row-fluid.show-grid
            div.span6.offset3 
                button Отправить