section.c-form#form-consult-support
    div.close-form
        div.close-form__line.close-form__line--1
        div.close-form__line.close-form__line--2
    h2 Получить консультацию
    p.comment Оставьте ваш телефон. Мы свяжемся с&nbsp;вами в&nbsp;течение 15&nbsp;минут и&nbsp;ответим на&nbsp;все вопросы.
    input#input-form-consult-support-phone(type="text" placeholder="Номер телефона")
    div#input-form-consult-support-phone-error.error-text
    div#input-form-consult-support-success.success-text
    button#form-consult-support-button Отправить!