section.geography
    div.wrapper
        h2 География оказания услуг
        div.row-fluid.show-grid
            div.span12
                img(src="assets/img/map.png" alt="география оказания услуг")