section.geography
    div.wrapper
        h2 География оказания услуг
        script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7cc6a7060c0b86500384f7044ae7f034894efc58302dbd36189d0c4d9364c38b&amp;width=100%25&amp;height=542&amp;lang=ru_RU&amp;scroll=false")
        //div.row-fluid.show-grid
            //div.span12
                //img(src="assets/img/map.png" alt="география оказания услуг")