header
    div.wrapper
        a.logo(href="index.html") Академия Чистоты
        nav
            a.header__works(href="#") Как мы делаем уборку
            a.header__form(href="#") Заявка
            a.header__map-container(href="#") Контакты
        
        button.header__order Оформить заявку
        a.phone(href="tel:+79268026280") 
            h3 8 (926) 802-62-80
        div.clear