section.map-container
    div.map-container__content.wrapper
        h2 Наши контакты
        div.map-container__contacts
            p Московская область, Истринский&nbsp;район
            a.phone(href="tel:+79268026280") 
                h3 8 (926) 802-62-80
            a.email(href="mailto:academy.of.cleaning@gmail.com") academy.of.cleaning@gmail.com
            button#map-container__button Получить консультацию
    #map
    