section.offer.parallax-window(data-parallax="scroll" data-image-src="assets/img/offer-bg.jpg")
    div.wrapper
        h1 Генеральная уборка квартир и&nbsp;домов в&nbsp;Московской области от 5 000 руб.
        p.comment Работаем по направлениям: Волоколамское, Ильинское, Минское, Новорижское, Рублёвское шоссе, район Истры.

        div.tabs
            div.tabs__tab.tabs__tab--1.active(data-show="range-general" data-hide="range-general-home") Квартиры
            div.tabs__tab.tabs__tab--2(data-show="range-general-home" data-hide="range-general") Дома
            div.clear

        div.row-fluid.show-grid#range-general
            div.span6.offset2
                div.span9 
                    label(for="amount") Количество комнат
                    div#slider-range
                    
                div.span2#range-slider-input
                    input(type="text" id="amount" readonly)

                div.span1.unit комн.

            div.span4
                div Примерная стоимость
                h1#amount2

        div.row-fluid.show-grid#range-general-home
            div.span6.offset2
                div.span9 
                    label(for="amount-home") Площадь дома
                    div#slider-range-home
                    
                div.span2#range-slider-input
                    input(type="text" id="amount-home" readonly)

                div.span1.unit
                    | м
                    sup 2

            div.span4
                div Примерная стоимость
                h1#amount2-home