section.services
    div.wrapper
        h2 Дополнительные услуги
        div.row-fluid.show-grid
            div.span3.services__service.services__service--window
                | Мойка окон/фасадов 
                br 
                | 50 руб./м
                sup 2
            div.span3.services__service.services__service--furniture
                | Химчистка мебели и&nbsp;ковров
                br 
                | От 150 руб.
            div.span3.services__service.services__service--yard
                | Чистка прилегающей территории
                br 
                | 20 руб./м
                sup 2

        div.clear