section.services
    div.wrapper
        h2 Дополнительные услуги
        div.row-fluid.show-grid
            div.span3.services__service.services__service--window
                | Мойка окон/фасадов 
                br 
                | 50 руб./м
                sup 2
            div.span3.services__service.services__service--refrigerator
                | Мойка холодильника
                br 
                | 500 руб./м
                sup 2
            div.span3.services__service.services__service--oven
                | Мойка духовки
                br 
                | 350 руб./м
                sup 2
            div.span3.services__service.services__service--chandelier
                | Мойка люстры
                br 
                | От 200 руб. за люстру
                sup 2
        
        div.row-fluid.show-grid
            div.span3.services__service.services__service--rubbish
                | Вывоз мусора 
                br 
                | 50 руб.
            div.span3.services__service.services__service--yard
                | Чистка прилегающей территории
                br 
                | 20 руб./м
                sup 2
            div.span3.services__service.services__service--ware
                | Мытьё посуды 
                br 
                | 500 руб./час
            div.span3.services__service.services__service--seams
                | Очистка межплиточных швов 
                br 
                | 100 руб./м
                sup 2