section.services
    div.wrapper
        h2 Дополнительные услуги
        div.row-fluid.show-grid
            div.span3.services__service.services__service--window
                | Мойка окон/фасадов 
                br 
                | от 200 руб./м
                sup 2
            div.span3.services__service.services__service--mosquito
                | Мытьё москитной сетки
                br 
                | 100 руб./шт.
            div.span3.services__service.services__service--watering
                | Поливка цветов
                br 
                | 100 руб.
            div.span3.services__service.services__service--pet
                | Уборка лотка питомца
                br 
                | 300 руб.
            
        div.row-fluid.show-grid
            div.span3.services__service.services__service--clothes
                | Отвезти и&nbsp;забрать вещи из&nbsp;химчистки
                br 
                | 300 руб.
            div.span3.services__service.services__service--yard
                | Чистка прилегающей территории
                br 
                | 20 руб./м
                sup 2
            div.span3.services__service.services__service--ware
                | Мытьё посуды 
                br 
                | 500 руб./час
            div.span3.services__service.services__service--furniture
                | Химчистка мебели и&nbsp;ковров
                br 
                | От 150 руб.

        div.row-fluid.show-grid
            div.span3.services__service.services__service--pet-grooming
                | Стрижка питомца 
                br 
                | (с выездом мастера)
                br
                | От 1 500 руб.
            div.span3.services__service.services__service--master
                | Мастер на час
                br 
                | От 1 000 руб./час
            div.span6.services__how
                h3 Как мы делаем уборку
                p Очищение детских игрушек, сервизов, книг и прочих некрупных предметов оплачивается отдельно по цене 500 руб./час работы
            
        div.clear