section.what-is-eco
    div.wrapper
        h2 Что это такое и зачем
        
        div.row-fluid.show-grid
            div.span8.offset2
                p.what-is-eco__what
                    | Данный тип уборки проводится парогенератором, 
                    | который под воздействием высоких температур 
                    | и&nbsp;давления убивает все микробы и&nbsp;грязь с&nbsp;поверхностей.

        div.row-fluid.show-grid
            div.span8.offset2
                p.what-is-eco__what
                    | Биоразлагаемые чистящие средства на&nbsp;основе природных кислот 
                    | и&nbsp;щелочей абсолютно безопасны для&nbsp;детей и&nbsp;животных.

        div.row-fluid.show-grid
            div.span8.offset2
                p.what-is-eco__what
                    | В&nbsp;доме аллергиков применяется исключительно вода и&nbsp;парогенератор.

        div.row-fluid.show-grid
            div.span8.offset2
                p.what-is-eco__what(style="padding-bottom: 48px;")
                    | Используются одноразовые расходные материалы.

section.to-who-eco
    h2 Кому будет полезна
    div.row-fluid.show-grid
        div.span8.offset2
            p 
                | Аллергики, беременные, семья с&nbsp;детьми и&nbsp;животными. 
                | А&nbsp;также, для&nbsp;всех, кому важно следить за&nbsp;своим здоровьем 
                | и&nbsp;здоровьем близких.