section.works
    div.wrapper
        h2 Как мы делаем уборку после ремонта
        div.row-fluid.show-grid
            div.span6
                h3 Комнаты и коридоры
                ul
                    li Убираем мусор, заменяем одноразовые пакеты, моем корзину изнутри и снаружи;
                    li Убираем пыль с поверхности стен и потолков;
                    li Моем карнизы (в эту услугу не входит стирка штор);
                    li Обработка климатической техники, очищение внутренних фильтров устройства;
                    li Моем все светильники, используемые в доме (помимо хрустальных изделий);
                    li Уборка корпусной мебели: обрабатывается как внутренняя, так и внешняя поверхность предметов при условии отсутствия в них вещей;
                    li Обработка зеркал и различных стеклянных покрытий и элементов декора (кроме окон) с помощью специализированных средств (на всю высоту);
                    li Очищаем аксессуары и предметы интерьера от пыли и различных загрязнений;
                    li Очищаем бытовую технику от скопившейся пыли;
                    li Уборка пыли на подоконнике и последующая мойка коммуникаций;
                    li Уборка пылесосом для очищения внутренней и внешней поверхности мягкой мебели;
                    li Обрабатываем кожаные предметы мебели профессиональными чистящими составами;
                    li Меняем спальный комплект;
                    li Сухая и влажна уборка дверных блоков, а также используемой фурнитуры;
                    li Устраняем разного рода строительные загрязнения;
                    li Эко-уборка с помощью парогенератора (для труднодоступных мест в квартире);
                    li Мытьё плинтусов и уборка напольных покрытий любого типа.

            div.span6
                h3 Ванная комната
                ul
                    li Обрабатываем потолок;
                    li Влажная уборка керамической плитки на всю имеющуюся высоту помещения;
                    li Чистим ванны, джакузи и душевые кабины (учитывается как внешняя, так и внутренняя поверхность);
                    li Устраняем загрязнения с поверхности бытовых приборов;
                    li Очищаем раковины, унитазы, биде и смесители с последующей дезинфекцией;
                    li Очищаем межплиточные швы от затирки (исключение — двухкомпонентная затирка);
                    li Убираем труднодоступные зоны помещения с использованием парогенератора.

        div.row-fluid.show-grid
            div.span6
                h3 Кухня
                ul
                    li Влажная уборка фасадов кухонной мебели с обязательным удалением жирных следов;
                    li Моем внутренние части ящиков и шкафов при условии, что клиент освободил их от предметов домашнего обихода;
                    li Моем грязную посуду, стоящую в раковине;
                    li Обработка «фартука», удаление различных загрязнений;
                    li Влажная уборка вытяжки (с учетом внутренней и внешней поверхности) со снятием используемых фильтров;
                    li Очищаем плиту для приготовления пищи (внутри и снаружи);
                    li Комплексная чистка холодильной камеры;
                    li Удаляем загрязнения с внутренней и внешней части микроволновой печи;
                    li Тщательно обрабатываем другую кухонную технику;
                    li Моем и дезинфицируем сантехническое оборудование;
                    li Устраняем самые сложные загрязнения (включая налёт извести, ржавчину);
                    li Тщательно обрабатываем труднодоступные места кухни с помощью парогенератора.

            div.span6
                h3 Устранение загрязнений после ремонта
                ul
                    li Очистку от послестроительной пыли и следов цемента, влажную и сухую уборку стен и потолочных покрытий;
                    li Устраняем засохший клей и строительный скотч со стёкол, зеркал, предметов мебели;
                    li Удаление пятен краски и уборка после строительства напольных покрытий, паркета, подоконников;
                    li Стандартные работы по обеспыливанию всех поверхностей в доме (влажная чистка);
                    li Очищаем от мелких строительных отходов и мусора;
                    li Дезинфицируем место, отведённое под хранение отходов;
                    li Влажная и сухая послестроительная уборка корпусной и мягкой мебели, рабочих поверхностей, внешних фасадов и стеновых панелей гарнитуров, дверей холодильники, духовой и микроволновой печи;
                    li Чистим сантехнику с последующим дезинфицированием;
                    li Частим душевые кабины и ванны;
                    li Собираем и выносим мелкий строительный мусор.