section.works
    div.wrapper
        h2 Как мы делаем генеральную уборку
        div.row-fluid.show-grid
            div.span6
                h3 Общие работы
                ul
                    li Моем и пылесосим полы и плинтусы;
                    li Удаляем на всех поверхностях сложные загрязнения: известковый налет, ржавчину, следы жира, водный камень;
                    li Моем мебель снаружи и внутри;
                    li Удаляем пыль со стен и потолков;
                    li Чистим парогенератором труднодоступные места;
                    li Удаляем пыль и моем бытовую и кухонную технику;
                    li Удаляем пыль и моем все светильники, включая потолочные.
            div.span6
                h3 Комнаты и коридоры
                ul
                    li Удаляем пыль с предметов интерьера: ваз, фоторамок, картин;
                    li Удаляем пыль с кондиционеров и их фильтров;
                    li Моем зеркала и стеклянные поверхности (кроме окон);
                    li Моем подоконники, батареи;
                    li Пылесосим мягкую мебель внутри и снаружи;
                    li Бережно ухаживаем за кожаной мебелью;
                    li Меняем постельное белье;
                    li Моем двери и дверные блоки;
                    li Моем карнизы.

        div.row-fluid.show-grid
            div.span6
                h3 Кухня
                ul
                    li Чистим и дезинфицируем кухонные рабочие поверхности;
                    li Моем стеновые панели кухонного гарнитура;
                    li Моем холодильник снаружи и внутри;
                    li Моем вытяжку снаружи и внутри, включая фильтры;
                    li Моем кухонную плиту снаружи и внутри;
                    li Моем микроволновую печь снаружи и внутри;
                    li Чистим и обеззараживаем сантехнику;
                    li Моем грязную посуду 10 минут;
                    li Моем и обеззараживаем мусорную корзину, выносим мусор.
            div.span6
                h3 Ванная комната
                ul
                    li Моем потолок и стены на всю высоту;
                    li Моем душевую кабину и ванну (снаружи и внутри);
                    li Чистим и обеззараживаем сантехнику;
                    li Очищаем межплиточные швы.