section.works
    div.wrapper
        h2 Как мы делаем поддерживающую уборку
        div.row-fluid.show-grid
            div.span6
                h3 Комнаты и коридоры
                ul
                    li Чистим и моем напольные покрытия и плинтусы
                    li Сухая уборка мягкой мебели с использованием пылесоса (обрабатываются только сиденья и спинки, специалисты не убирают подушки)
                    li Устраняем пыль со светильников (на высоте до 2 метров)
                    li Моем подоконники и коммуникации
                    li Убираем пыль с поверхности дверных блоков
                    li Очищаем все стеклянные элементы и зеркала, которые есть в помещении (кроме окон)
                    li Убираем пыль с поверхности различных предметов домашнего обихода и аксессуаров (на высоте до 2 м)
                    li Влажная уборка корпусной мебели любого типа (не выше 2 метров)
                    li Удаляем пыль с внешней части бытовых приборов
                    li Заменяем постельный комплект (по желанию клиента)
                    li Вывозим мусор с последующей заменой одноразовых пакетов в&nbsp;корзинах
                    li Обеззараживаем мусорную корзину
            div.span6
                h3 Кухня
                ul
                    li Моем посуду и столовые приборы в течение 10 минут
                    li Влажная уборка газовой или электрической плиты с устранением жирных пятен
                    li Моем наружную поверхность духовки и холодильника
                    li Влажная уборка поверхности для приготовления пищи и фартука, мытье фасадов мебели
                    li Устраняем жирные и масляные следы на высоте до 2 метров
                    li Очищаем бытовую технику от загрязнений
                    li Очищаем и тщательно обеззараживаем сантехническое оборудование
                    li Моем и обеззараживаем корзины для сбора мусора

        div.row-fluid.show-grid
            div.span6
                h3 Ванная комната
                ul
                    li Моем и обеззараживаем различные сантехнические приборы, включая унитазы, раковины, биде
                    li Моем душевую кабину и ванну (снаружи и внутри)
                    li Очищаем плитку от имеющихся загрязнений
